.form-group.pull-right
  button.btn.btn-default(ng-click='queryTag(); countTag(); share.window("listTag");')=__('List')
  | 
  button.btn.btn-success(ng-click='clearTag(); share.window("createOrUpdateTag");')=__('New')