h3=__('Filters')
form.form-inline(role='form')
  include tag_fields
  +filter_fields_tag()
  button.btn.btn-warning(type='button', ng-click='queryTag(); countTag();')=__('Filter')
  | 
  button.btn.btn-danger(type='button', ng-click='queryTag("reset"); countTag();')=__('Reset')