head
  meta(http-equiv='content-type', content='text/html; charset=UTF-8')
  title randb - Programming challenge at R&amp;B! Good luck
  meta(name='description', content='Programming challenge at R&amp;B! Good luck')
  link(rel='shortcut icon', href='/img/favicon.ico')
  include css
  include javascript